
body {
    color: #ccc;
    background-color: #272727;
}

h1 {

}

.header,
#jsoneditor {
    width: 100%;
}

#jsoneditor {
    height: 600px;
}

hr {
    border-width: 0px;
    border-top: 1px solid #ccc;
    background-color: none;
    height: 1px;
    font-size: 0px;
}

.jsoneditor-contextmenu .jsoneditor-menu li ul .jsoneditor-icon {
    margin-left: 5px;
}

.jsoneditor-contextmenu .jsoneditor-selected .jsoneditor-type-object .jsoneditor-text {
    padding: 4px 0 4px 4px;
}

.revision-wrapper {
 /*    display: flex;
    flex-wrap: nowrap;
 */
}

.revision-wrapper>div {
    /* padding: 5px; */
    /* color:#fff; */
}

.hidden {
    visibility: hidden;
}

#revision-counts {
    
}
#revision-menu {
    list-style:none;
    display:flex;
}
#revision-menu li {
    /* color:#fff; */

}

.jsoneditor-contextmenu .jsoneditor-menu,
.jsoneditor-contextmenu .jsoneditor-menu button {
    width:200px;
}

#nav-tab {
    border-width:0px;
}

#nav-tab-content {
    background-color:#fff;
}

.cache-wrapper {
    padding:10px 0;
    min-height:200px;
}

.content {
    color:#000;
}

/*.toast*/

#cache-settings fieldset, .fieldset {
    position: relative;
    padding: 1rem;
    margin:1rem 0px;
    border: solid #dee2e6;
    border-width: 1px;
}
